html{
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
    scroll-behavior: smooth;
}



@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
 
a{
    transition: .5s;
}

/* sidebar */

#sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #F8F8FB;
    padding-top: 40px;
}

#sidebar a{
    color:#000000;
    text-decoration: none;
    font-size: 20px;
}

#sidebar a:hover{
    color: rgb(191, 25, 25)
}

#sidebar li{
    padding: 20px;
}

.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo{
    width: 200px;
    height:auto;
    display:block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* Content */

.content{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
}

.content h1, .content h2{
    color: #000000;
    margin-bottom: 30px;
}

.content h1{
    font-size: 40px;
}

.content h2{
    font-size: 35px;
}

section{
    padding-left: 50px;
}
/* bem vindo */
#sessao-bemvindo{
    padding-left: 0;
}

.sessao-bemvindo-content{
    padding-left: 50px;
}

.img-descricao{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#sessao-bemvindo .banner{
    height: 500px;
    background-image: url('../img/banner1.jpg');
    background-position: center;
    background-size: cover;

}

h1{
    margin-top: 70px;
}


.sessao-bemvindo-btn, form input[type=submit]{
    background-color: #f0f0f7;
    color:#000000;
    text-decoration: none;
    padding: 20px 40px;
    transition: .5s;
    display:block;
    width:100px;
    text-align: center;
    border:none;
    cursor:pointer;
    margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
    background-color: #a4f0a2;
}


/*  sessão tabela */
.sessao-objeto{
    padding-right: 50px;
    padding-bottom: 50px;
}

/* Cadastro*/

.formCadastro{
    width: 500px;
}

.formCadastro input[type=text], .formCadastro input[type=number], .formCadastro textarea{
    display: block;
    border: 1px solid #000000;
    padding:10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;

}


.form-cadastro input[type=text]:focus, .formCadastro input[type=number]:focus, .formCadastro textarea:focus {
    border-color: #151515;
}

.formCadastro textarea{
    height:150px;
}

.formCadastro ::placeholder{
    color: #000000;
}

.formCadastro input[type=submit]{
    margin-left: 0;
    font-size: 16px;
    width:180px;
}

/* footer */

footer{
    height: 100px;
    padding-top: 150px;
    color: #000000;
}

footer p{
    text-align: center;
    font-weight: bold;
}

/* updates dev web */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Table Styles */

   .objeto {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .objeto td, .objeto th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .objeto tr:nth-child(even){background-color: #ffffff;}
  
  .objeto tr:hover {background-color: #f3f3f3;}
  
  .objeto th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eceef1;
    color: rgb(0, 0, 0);
  }

/* Botões */

.botoes-crud button{
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.botoes-crud button img{
    width: 35px;
    height: auto;

}

.botoes-crud{
    float: right;
    padding-right: 50px;
}